<div ng-controller="homeCtrl" id="bgimg" style="background-image: url({{ bgimg }})" >
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
      <form ng-submt="submit()">
        <div class="form-group">
          <input type="text" ng-model="tag" placeholder="Search Instagram by tag" class="form-control" />
        </div>
      </div>
    </div>
    <div id="searchBtn">
       <input type="submit" class="btn btn-primary" value="Search" />
    </div>
  </form>
</div>

<!-- ############### DATE PICKER ############### -->

  <!-- <div class="dateSelect col-md-3">
      <input id="startDate" type="date" ng-model="dateStart" class="datepicker form-control" /> 
  </div>
  <div class="dateSelect col-md-3">
      <input id="startDate" type="date" ng-model="dateEnd" class="datepicker form-control" />
    </div> -->

<!-- ############### DATE PICKER ############### -->