body {
  background-color: #ded1c1;
}

.navbar {
  background-color: #125688;
}

#icon {
  width:50px;
  float: left;
}

#brandname {
  color: #6dc993;
  float: left;
  padding: 10px 0px 0 10px;
}

.form-group {
  margin-top:320px;
}

#searchBtn {
  text-align: center;
}

.gallery {
  margin-bottom:10px;
}

.gallery img.main {
  width: 100%;
  border: 5px solid white;
}

.info {
  text-align: center;
  background-color: white;
  color: #125688;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.avatar {
  width: 40px;
  margin-right: 10px;
}

#results {
  padding: 10px 0 20px 0;
}

#bgimg {
  margin: 25px auto;
  height: 418px;
  background-repeat: no-repeat;
  background-position: center;
}

